@media (max-width:768px) {
  .style25 {
    margin-left: 149px;
    margin-top: 18px;
    width: 14px;
    height: 20px
  }
  .homepage1row1 {
    position: relative;
    display: flex;
    margin-left: 0;
    margin-top: 19px;
    width: 156px;
    height: 25px
  }
  .style29 {
    margin-left: 0;
    margin-top: 3px;
    width: 22px;
    height: 15px;
    flex-shrink: 0
  }
  .style27 {
    margin-left: 5px;
    margin-top: 4px;
    width: 6px;
    height: 23px
  }
  .style26,
  .style27,
  .style28 {
    position: relative;
    flex-shrink: 0
  }
  .style28 {
    margin-top: 4px;
    margin-left: 10px;
    width: 6px;
    height: 23px
  }
  .style26 {
    margin-left: 2px;
    width: 13px;
    height: 100%;
    align-self: stretch
  }
  .style46,
  .style57 {
    background-color: #1c1c1b;
    width: 1px;
    height: 7px;
    flex-shrink: 0
  }
  .style57 {
    margin-top: 12px;
    margin-left: 37px
  }
  .style46 {
    margin-left: 52px
  }
  .homepage1row2 {
    display: flex;
    margin-left: 53px;
    margin-top: 21px;
    width: 325px;
    height: 24px;
    align-items: center
  }
  .style1,
  .style2,
  .style3 {
    color: #5445a8;
    font-family: 'Open Sans',serif;
    font-size: .5em;
    font-weight: 700;
    margin-left: 0;
    height: 11px
  }
  .style1,
  .style2 {
    margin-left: 45px
  }
  .style1 {
    margin-left: 41px
  }
  .style4 {
    background-color: #ffb711;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    display: flex;
    margin-left: 47px;
    width: 79px;
    height: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center
  }
  .style5 {
    color: #6c0e8b;
    font-family: 'Open Sans',serif;
    font-size: .6875em;
    font-weight: 700;
    height: 16px
  }
  .homepage1row3 {
    display: flex;
    margin-left: 15px;
    margin-top: 24px;
    width: 327px;
    height: 112px
  }
  .style6 {
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    margin-left: 0;
    width: 161px;
    height: 100%;
    align-self: stretch
  }
  .homepage1row3column1 {
    display: flex;
    margin-left: 20px;
    margin-top: 15px;
    width: 145px;
    height: 76px;
    flex-direction: column
  }
  .style8,
  .style85 {
    color: #000;
    font-family: 'Helvetica Neue',serif;
    font-size: .3125em
  }
  .style8 {
    align-self: stretch;
    font-weight: 700;
    margin-top: 0;
    height: 9px
  }
  .style85 {
    font-weight: 500;
    margin-left: 61px;
    margin-top: 8px;
    height: 59px
  }
  .homepage1row4 {
    display: flex;
    margin-left: 56px;
    margin-top: 31px;
    width: 303px;
    height: 128px
  }
  .style7,
  .style86 {
    color: #000;
    font-family: 'Open Sans',serif;
    font-size: .375em;
    margin-left: 0;
    margin-top: 46px;
    height: 9px
  }
  .style86 {
    font-family: 'Helvetica Neue',serif;
    font-size: .3125em;
    font-weight: 500;
    margin-left: 20px;
    margin-top: 70px;
    height: 39px
  }
  .style10 {
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    margin-left: 20px;
    width: 162px;
    height: 100%;
    align-self: stretch
  }
  .homepage1row5 {
    display: flex;
    margin-left: 15px;
    margin-top: 43px;
    width: 324px;
    height: 126px
  }
  .style11 {
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    margin-left: 0;
    width: 162px;
    height: 100%;
    align-self: stretch
  }
  .homepage1row5column1 {
    position: relative;
    display: flex;
    margin-left: 20px;
    margin-top: 18px;
    width: 121px;
    height: 74px;
    flex-direction: column
  }
  .style87,
  .style89 {
    color: #000;
    flex-shrink: 0
  }
  .style87 {
    align-self: stretch;
    font-family: 'Open Sans',serif;
    font-size: .375em;
    margin-top: 0;
    height: 9px
  }
  .style89 {
    font-family: 'Helvetica Neue',serif;
    font-size: .3125em;
    font-weight: 500;
    position: relative;
    margin-left: 41px;
    margin-top: 10px;
    height: 55px
  }
  .homepage1row6 {
    display: flex;
    margin-left: 15px;
    margin-top: 41px;
    width: 344px;
    height: 125px
  }
  .style88 {
    color: #000;
    font-family: 'Open Sans',serif;
    font-size: .375em;
    margin-left: 0;
    margin-top: 39px;
    height: 9px
  }
  .style90 {
    color: #000;
    font-family: 'Helvetica Neue',serif;
    font-size: .3125em;
    font-weight: 500;
    margin-left: 41px;
    height: 73px;
    align-self: flex-end
  }
  .style9 {
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    margin-left: 42px;
    width: 162px;
    height: 100%;
    align-self: stretch
  }
  .style12 {
    background-color: #f2f1f1;
    display: flex;
    margin-left: 0;
    margin-top: 21px;
    width: 382px;
    height: 52px;
    flex-direction: column
  }
  .homepage1container2row0 {
    position: relative;
    display: flex;
    margin-left: 29px;
    margin-top: 29px;
    width: 280px;
    height: 7px
  }
  .style16,
  .style20,
  .style24 {
    color: #171716;
    font-family: 'Open Sans',serif;
    flex-shrink: 0
  }
  .style16 {
    margin-left: 0;
    height: 6px;
    align-self: center;
    font-size: .25em
  }
  .style20,
  .style24 {
    font-size: .3125em
  }
  .style20 {
    align-self: stretch;
    margin-left: 44px;
    height: 100%
  }
  .style24 {
    position: relative;
    margin-left: 39px;
    margin-top: 1px;
    height: 7px
  }
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 375px
  }
  .style106 {
    margin-left: 140px;
    margin-top: 19px;
    width: 14px;
    height: 20px
  }
  .conocemos1row1 {
    position: relative;
    display: flex;
    margin-left: 0;
    margin-top: 20px;
    width: 156px;
    height: 25px
  }
  .style110 {
    margin-left: 0;
    margin-top: 3px;
    width: 22px;
    height: 15px;
    flex-shrink: 0
  }
  .style108 {
    margin-left: 5px;
    margin-top: 4px;
    width: 6px;
    height: 23px
  }
  .style107,
  .style108,
  .style109 {
    position: relative;
    flex-shrink: 0
  }
  .style109 {
    margin-top: 4px;
    margin-left: 10px;
    width: 6px;
    height: 23px
  }
  .style107 {
    margin-left: 2px;
    width: 13px;
    height: 100%;
    align-self: stretch
  }
  .style127,
  .style138 {
    background-color: #1c1c1b;
    width: 1px;
    height: 7px;
    flex-shrink: 0
  }
  .style138 {
    margin-top: 12px;
    margin-left: 37px
  }
  .style127 {
    margin-left: 52px
  }
  .conocemos1row2 {
    display: flex;
    margin-left: 44px;
    margin-top: 21px;
    width: 332px;
    height: 24px;
    align-items: center
  }
  .style101,
  .style102,
  .style103 {
    color: #fdb910;
    font-family: 'Open Sans',serif;
    font-size: .5em;
    font-weight: 700;
    margin-left: 0;
    height: 11px
  }
  .style101,
  .style102 {
    color: #5445a8;
    margin-left: 45px
  }
  .style101 {
    margin-left: 41px
  }
  .style104 {
    background-color: #ffb711;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
    display: flex;
    margin-left: 54px;
    width: 79px;
    height: 100%;
    flex-direction: column;
    justify-content: center
  }
  .style105,
  .style99 {
    color: #6c0e8b;
    font-family: 'Open Sans',serif;
    font-size: .6875em;
    font-weight: 700;
    margin-left: 11px;
    height: 16px
  }
  .style99 {
    color: #000;
    font-size: .375em;
    margin-left: 137px;
    margin-top: 18px;
    height: 11px
  }
  .conocemos1row4 {
    display: flex;
    margin-left: 76px;
    margin-top: 19px;
    width: 223px;
    height: 102px
  }
  .style96 {
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    margin-left: 0;
    width: 102px;
    height: 100%;
    align-self: stretch
  }
  .conocemos1row4column1 {
    display: flex;
    margin-left: 19px;
    margin-top: 17px;
    width: 102px;
    height: 40px;
    align-items: stretch;
    flex-direction: column
  }
  .style91,
  .style92 {
    color: #000;
    font-family: 'Helvetica Neue',serif;
    font-size: .375em;
    font-weight: 700;
    margin-top: 0;
    height: 9px
  }
  .style91 {
    font-size: .3125em;
    font-weight: 500;
    margin-top: 6px;
    height: 25px
  }
  .conocemos1row5 {
    position: relative;
    display: flex;
    margin-left: 77px;
    margin-top: 0;
    width: 222px;
    height: 102px
  }
  .style93,
  .style95 {
    color: #000;
    font-family: 'Helvetica Neue',serif;
    margin-left: 0
  }
  .style93 {
    margin-top: 55px;
    font-size: .375em;
    font-weight: 700;
    height: 9px
  }
  .style95 {
    font-size: .3125em;
    font-weight: 500;
    height: 34px;
    align-self: flex-end
  }
  .style97 {
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    margin-left: 19px;
    width: 102px;
    height: 100%;
    align-self: stretch
  }
  .conocemos1row6 {
    display: flex;
    margin-left: 76px;
    margin-top: 29px;
    width: 223px;
    height: 102px
  }
  .style98 {
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    margin-left: 0;
    width: 102px;
    height: 100%;
    align-self: stretch
  }
  .conocemos1row6column1 {
    display: flex;
    margin-left: 20px;
    margin-top: 5px;
    width: 102px;
    height: 49px;
    align-items: stretch;
    flex-direction: column
  }
  .style179,
  .style94 {
    color: #000;
    font-family: 'Helvetica Neue',serif;
    font-size: .375em;
    font-weight: 700;
    margin-top: 0;
    height: 9px
  }
  .style179 {
    font-size: .3125em;
    font-weight: 500;
    margin-top: 6px;
    height: 34px
  }
  .style162 {
    background-color: #f2f1f1;
    display: flex;
    margin-left: 0;
    margin-top: 16px;
    width: 375px;
    height: 52px;
    flex-direction: column
  }
  .conocemos1container53row0 {
    position: relative;
    display: flex;
    margin-left: 29px;
    margin-top: 29px;
    width: 280px;
    height: 7px
  }
  .style166,
  .style170,
  .style174 {
    color: #171716;
    font-family: 'Open Sans',serif;
    flex-shrink: 0
  }
  .style166 {
    margin-left: 0;
    height: 6px;
    align-self: center;
    font-size: .25em
  }
  .style170,
  .style174 {
    font-size: .3125em
  }
  .style170 {
    align-self: stretch;
    margin-left: 44px;
    height: 100%
  }
  .style174 {
    position: relative;
    margin-left: 39px;
    margin-top: 1px;
    height: 7px
  }
}
@media (min-width:768px) and (max-width:920px) {
  .style25 {
    margin-left: 305px;
    margin-top: 37px;
    width: 29px;
    height: 41px
  }
  .homepage1row1 {
    position: relative;
    display: flex;
    margin-left: 0;
    margin-top: 39px;
    width: 319px;
    height: 51px
  }
  .style29 {
    margin-left: 0;
    margin-top: 6px;
    width: 45px;
    height: 31px;
    flex-shrink: 0
  }
  .style27 {
    margin-left: 10px;
    margin-top: 8px;
    width: 12px;
    height: 47px
  }
  .style26,
  .style27,
  .style28 {
    position: relative;
    flex-shrink: 0
  }
  .style28 {
    margin-top: 8px;
    margin-left: 20px;
    width: 12px;
    height: 47px
  }
  .style26 {
    margin-left: 4px;
    width: 27px;
    height: 100%;
    align-self: stretch
  }
  .style46,
  .style57 {
    background-color: #1c1c1b;
    width: 2px;
    height: 14px;
    flex-shrink: 0
  }
  .style57 {
    margin-top: 25px;
    margin-left: 76px
  }
  .style46 {
    margin-left: 106px
  }
  .homepage1row2 {
    display: flex;
    margin-left: 109px;
    margin-top: 43px;
    width: 666px;
    height: 49px;
    align-items: center
  }
  .style1,
  .style2,
  .style3 {
    color: #5445a8;
    font-family: 'Open Sans',serif;
    font-size: 1.024em;
    font-weight: 700;
    margin-left: 0;
    height: 23px
  }
  .style1,
  .style2 {
    margin-left: 92px
  }
  .style1 {
    margin-left: 84px
  }
  .style4 {
    background-color: #ffb711;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    display: flex;
    margin-left: 96px;
    width: 162px;
    height: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center
  }
  .style5 {
    color: #6c0e8b;
    font-family: 'Open Sans',serif;
    font-size: 1.408em;
    font-weight: 700;
    height: 33px
  }
  .homepage1row3 {
    display: flex;
    margin-left: 31px;
    margin-top: 49px;
    width: 670px;
    height: 229px
  }
  .style6 {
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    margin-left: 0;
    width: 330px;
    height: 100%;
    align-self: stretch
  }
  .homepage1row3column1 {
    display: flex;
    margin-left: 41px;
    margin-top: 31px;
    width: 297px;
    height: 156px;
    flex-direction: column
  }
  .style8,
  .style85 {
    color: #000;
    font-family: 'Helvetica Neue',serif;
    font-size: .64em
  }
  .style8 {
    align-self: stretch;
    font-weight: 700;
    margin-top: 0;
    height: 18px
  }
  .style85 {
    font-weight: 500;
    margin-left: 125px;
    margin-top: 16px;
    height: 121px
  }
  .homepage1row4 {
    display: flex;
    margin-left: 115px;
    margin-top: 63px;
    width: 621px;
    height: 262px
  }
  .style7,
  .style86 {
    color: #000;
    font-family: 'Open Sans',serif;
    font-size: .768em;
    margin-left: 0;
    margin-top: 94px;
    height: 18px
  }
  .style86 {
    font-family: 'Helvetica Neue',serif;
    font-size: .64em;
    font-weight: 500;
    margin-left: 41px;
    margin-top: 143px;
    height: 80px
  }
  .style10 {
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    margin-left: 41px;
    width: 332px;
    height: 100%;
    align-self: stretch
  }
  .homepage1row5 {
    display: flex;
    margin-left: 31px;
    margin-top: 88px;
    width: 664px;
    height: 258px
  }
  .style11 {
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    margin-left: 0;
    width: 332px;
    height: 100%;
    align-self: stretch
  }
  .homepage1row5column1 {
    position: relative;
    display: flex;
    margin-left: 41px;
    margin-top: 37px;
    width: 248px;
    height: 152px;
    flex-direction: column
  }
  .style87,
  .style89 {
    color: #000;
    flex-shrink: 0
  }
  .style87 {
    align-self: stretch;
    font-family: 'Open Sans',serif;
    font-size: .768em;
    margin-top: 0;
    height: 18px
  }
  .style89 {
    font-family: 'Helvetica Neue',serif;
    font-size: .64em;
    font-weight: 500;
    position: relative;
    margin-left: 84px;
    margin-top: 20px;
    height: 113px
  }
  .homepage1row6 {
    display: flex;
    margin-left: 31px;
    margin-top: 84px;
    width: 705px;
    height: 256px
  }
  .style88 {
    color: #000;
    font-family: 'Open Sans',serif;
    font-size: .768em;
    margin-left: 0;
    margin-top: 80px;
    height: 18px
  }
  .style90 {
    color: #000;
    font-family: 'Helvetica Neue',serif;
    font-size: .64em;
    font-weight: 500;
    margin-left: 84px;
    height: 150px;
    align-self: flex-end
  }
  .style9 {
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    margin-left: 86px;
    width: 332px;
    height: 100%;
    align-self: stretch
  }
  .style12 {
    background-color: #f2f1f1;
    display: flex;
    margin-left: 0;
    margin-top: 43px;
    width: 782px;
    height: 106px;
    flex-direction: column
  }
  .homepage1container2row0 {
    position: relative;
    display: flex;
    margin-left: 59px;
    margin-top: 59px;
    width: 573px;
    height: 14px
  }
  .style16,
  .style20,
  .style24 {
    color: #171716;
    font-family: 'Open Sans',serif;
    flex-shrink: 0
  }
  .style16 {
    margin-left: 0;
    height: 12px;
    align-self: center;
    font-size: .512em
  }
  .style20,
  .style24 {
    font-size: .64em
  }
  .style20 {
    align-self: stretch;
    margin-left: 90px;
    height: 100%
  }
  .style24 {
    position: relative;
    margin-left: 80px;
    margin-top: 2px;
    height: 14px
  }
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 768px
  }
  .style106 {
    margin-left: 287px;
    margin-top: 39px;
    width: 29px;
    height: 41px
  }
  .conocemos1row1 {
    position: relative;
    display: flex;
    margin-left: 0;
    margin-top: 41px;
    width: 319px;
    height: 51px
  }
  .style110 {
    margin-left: 0;
    margin-top: 6px;
    width: 45px;
    height: 31px;
    flex-shrink: 0
  }
  .style108 {
    margin-left: 10px;
    margin-top: 8px;
    width: 12px;
    height: 47px
  }
  .style107,
  .style108,
  .style109 {
    position: relative;
    flex-shrink: 0
  }
  .style109 {
    margin-top: 8px;
    margin-left: 20px;
    width: 12px;
    height: 47px
  }
  .style107 {
    margin-left: 4px;
    width: 27px;
    height: 100%;
    align-self: stretch
  }
  .style127,
  .style138 {
    background-color: #1c1c1b;
    width: 2px;
    height: 14px;
    flex-shrink: 0
  }
  .style138 {
    margin-top: 25px;
    margin-left: 76px
  }
  .style127 {
    margin-left: 106px
  }
  .conocemos1row2 {
    display: flex;
    margin-left: 90px;
    margin-top: 43px;
    width: 680px;
    height: 49px;
    align-items: center
  }
  .style101,
  .style102,
  .style103 {
    color: #fdb910;
    font-family: 'Open Sans',serif;
    font-size: 1.024em;
    font-weight: 700;
    margin-left: 0;
    height: 23px
  }
  .style101,
  .style102 {
    color: #5445a8;
    margin-left: 92px
  }
  .style101 {
    margin-left: 84px
  }
  .style104 {
    background-color: #ffb711;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
    display: flex;
    margin-left: 111px;
    width: 162px;
    height: 100%;
    flex-direction: column;
    justify-content: center
  }
  .style105,
  .style99 {
    color: #6c0e8b;
    font-family: 'Open Sans',serif;
    font-size: 1.408em;
    font-weight: 700;
    margin-left: 23px;
    height: 33px
  }
  .style99 {
    color: #000;
    font-size: .768em;
    margin-left: 281px;
    margin-top: 37px;
    height: 23px
  }
  .conocemos1row4 {
    display: flex;
    margin-left: 156px;
    margin-top: 39px;
    width: 457px;
    height: 209px
  }
  .style96 {
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    margin-left: 0;
    width: 209px;
    height: 100%;
    align-self: stretch
  }
  .conocemos1row4column1 {
    display: flex;
    margin-left: 39px;
    margin-top: 35px;
    width: 209px;
    height: 82px;
    align-items: stretch;
    flex-direction: column
  }
  .style91,
  .style92 {
    color: #000;
    font-family: 'Helvetica Neue',serif;
    font-size: .768em;
    font-weight: 700;
    margin-top: 0;
    height: 18px
  }
  .style91 {
    font-size: .64em;
    font-weight: 500;
    margin-top: 12px;
    height: 51px
  }
  .conocemos1row5 {
    position: relative;
    display: flex;
    margin-left: 158px;
    margin-top: 0;
    width: 455px;
    height: 209px
  }
  .style93,
  .style95 {
    color: #000;
    font-family: 'Helvetica Neue',serif;
    margin-left: 0
  }
  .style93 {
    margin-top: 113px;
    font-size: .768em;
    font-weight: 700;
    height: 18px
  }
  .style95 {
    font-size: .64em;
    font-weight: 500;
    height: 70px;
    align-self: flex-end
  }
  .style97 {
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    margin-left: 39px;
    width: 209px;
    height: 100%;
    align-self: stretch
  }
  .conocemos1row6 {
    display: flex;
    margin-left: 156px;
    margin-top: 59px;
    width: 457px;
    height: 209px
  }
  .style98 {
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    margin-left: 0;
    width: 209px;
    height: 100%;
    align-self: stretch
  }
  .conocemos1row6column1 {
    display: flex;
    margin-left: 41px;
    margin-top: 10px;
    width: 209px;
    height: 100px;
    align-items: stretch;
    flex-direction: column
  }
  .style179,
  .style94 {
    color: #000;
    font-family: 'Helvetica Neue',serif;
    font-size: .768em;
    font-weight: 700;
    margin-top: 0;
    height: 18px
  }
  .style179 {
    font-size: .64em;
    font-weight: 500;
    margin-top: 12px;
    height: 70px
  }
  .style162 {
    background-color: #f2f1f1;
    display: flex;
    margin-left: 0;
    margin-top: 33px;
    width: 768px;
    height: 106px;
    flex-direction: column
  }
  .conocemos1container53row0 {
    position: relative;
    display: flex;
    margin-left: 59px;
    margin-top: 59px;
    width: 573px;
    height: 14px
  }
  .style166,
  .style170,
  .style174 {
    color: #171716;
    font-family: 'Open Sans',serif;
    flex-shrink: 0
  }
  .style166 {
    margin-left: 0;
    height: 12px;
    align-self: center;
    font-size: .512em
  }
  .style170,
  .style174 {
    font-size: .64em
  }
  .style170 {
    align-self: stretch;
    margin-left: 90px;
    height: 100%
  }
  .style174 {
    position: relative;
    margin-left: 80px;
    margin-top: 2px;
    height: 14px
  }
}
@media (min-width:920px) and (max-width:1200px) {
  .style25 {
    margin-left: 366px;
    margin-top: 44px;
    width: 34px;
    height: 49px
  }
  .homepage1row1 {
    position: relative;
    display: flex;
    margin-left: 0;
    margin-top: 47px;
    width: 383px;
    height: 61px
  }
  .style29 {
    margin-left: 0;
    margin-top: 7px;
    width: 54px;
    height: 37px;
    flex-shrink: 0
  }
  .style27 {
    margin-left: 12px;
    margin-top: 10px;
    width: 15px;
    height: 56px
  }
  .style26,
  .style27,
  .style28 {
    position: relative;
    flex-shrink: 0
  }
  .style28 {
    margin-top: 10px;
    margin-left: 25px;
    width: 15px;
    height: 56px
  }
  .style26 {
    margin-left: 5px;
    width: 32px;
    height: 100%;
    align-self: stretch
  }
  .style46,
  .style57 {
    background-color: #1c1c1b;
    width: 2px;
    height: 17px;
    flex-shrink: 0
  }
  .style57 {
    margin-top: 29px;
    margin-left: 91px
  }
  .style46 {
    margin-left: 128px
  }
  .homepage1row2 {
    display: flex;
    margin-left: 130px;
    margin-top: 52px;
    width: 797px;
    height: 59px;
    align-items: center
  }
  .style1,
  .style2,
  .style3 {
    color: #5445a8;
    font-family: 'Open Sans',serif;
    font-size: 1.2266666666666666em;
    font-weight: 700;
    margin-left: 0;
    height: 27px
  }
  .style1,
  .style2 {
    margin-left: 110px
  }
  .style1 {
    margin-left: 101px
  }
  .style4 {
    background-color: #ffb711;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    display: flex;
    margin-left: 115px;
    width: 194px;
    height: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center
  }
  .style5 {
    color: #6c0e8b;
    font-family: 'Open Sans',serif;
    font-size: 1.6866666666666665em;
    font-weight: 700;
    height: 39px
  }
  .homepage1row3 {
    display: flex;
    margin-left: 37px;
    margin-top: 59px;
    width: 802px;
    height: 275px
  }
  .style6 {
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    margin-left: 0;
    width: 395px;
    height: 100%;
    align-self: stretch
  }
  .homepage1row3column1 {
    display: flex;
    margin-left: 49px;
    margin-top: 37px;
    width: 356px;
    height: 186px;
    flex-direction: column
  }
  .style8,
  .style85 {
    color: #000;
    font-family: 'Helvetica Neue',serif;
    font-size: .7666666666666666em
  }
  .style8 {
    align-self: stretch;
    font-weight: 700;
    margin-top: 0;
    height: 22px
  }
  .style85 {
    font-weight: 500;
    margin-left: 150px;
    margin-top: 20px;
    height: 145px
  }
  .homepage1row4 {
    display: flex;
    margin-left: 137px;
    margin-top: 76px;
    width: 743px;
    height: 314px
  }
  .style7,
  .style86 {
    color: #000;
    font-family: 'Open Sans',serif;
    font-size: .9199999999999999em;
    margin-left: 0;
    margin-top: 113px;
    height: 22px
  }
  .style86 {
    font-family: 'Helvetica Neue',serif;
    font-size: .7666666666666666em;
    font-weight: 500;
    margin-left: 49px;
    margin-top: 172px;
    height: 96px
  }
  .style10 {
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    margin-left: 49px;
    width: 397px;
    height: 100%;
    align-self: stretch
  }
  .homepage1row5 {
    display: flex;
    margin-left: 37px;
    margin-top: 105px;
    width: 795px;
    height: 309px
  }
  .style11 {
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    margin-left: 0;
    width: 397px;
    height: 100%;
    align-self: stretch
  }
  .homepage1row5column1 {
    position: relative;
    display: flex;
    margin-left: 49px;
    margin-top: 44px;
    width: 297px;
    height: 182px;
    flex-direction: column
  }
  .style87,
  .style89 {
    color: #000;
    flex-shrink: 0
  }
  .style87 {
    align-self: stretch;
    font-family: 'Open Sans',serif;
    font-size: .9199999999999999em;
    margin-top: 0;
    height: 22px
  }
  .style89 {
    font-family: 'Helvetica Neue',serif;
    font-size: .7666666666666666em;
    font-weight: 500;
    position: relative;
    margin-left: 101px;
    margin-top: 25px;
    height: 135px
  }
  .homepage1row6 {
    display: flex;
    margin-left: 37px;
    margin-top: 101px;
    width: 844px;
    height: 307px
  }
  .style88 {
    color: #000;
    font-family: 'Open Sans',serif;
    font-size: .9199999999999999em;
    margin-left: 0;
    margin-top: 96px;
    height: 22px
  }
  .style90 {
    color: #000;
    font-family: 'Helvetica Neue',serif;
    font-size: .7666666666666666em;
    font-weight: 500;
    margin-left: 101px;
    height: 179px;
    align-self: flex-end
  }
  .style9 {
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    margin-left: 103px;
    width: 397px;
    height: 100%;
    align-self: stretch
  }
  .style12 {
    background-color: #f2f1f1;
    display: flex;
    margin-left: 0;
    margin-top: 52px;
    width: 937px;
    height: 128px;
    flex-direction: column
  }
  .homepage1container2row0 {
    position: relative;
    display: flex;
    margin-left: 71px;
    margin-top: 71px;
    width: 687px;
    height: 17px
  }
  .style16,
  .style20,
  .style24 {
    color: #171716;
    font-family: 'Open Sans',serif;
    flex-shrink: 0
  }
  .style16 {
    margin-left: 0;
    height: 15px;
    align-self: center;
    font-size: .6133333333333333em
  }
  .style20,
  .style24 {
    font-size: .7666666666666666em
  }
  .style20 {
    align-self: stretch;
    margin-left: 108px;
    height: 100%
  }
  .style24 {
    position: relative;
    margin-left: 96px;
    margin-top: 2px;
    height: 17px
  }
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 920px
  }
  .style106 {
    margin-left: 343px;
    margin-top: 47px;
    width: 34px;
    height: 49px
  }
  .conocemos1row1 {
    position: relative;
    display: flex;
    margin-left: 0;
    margin-top: 49px;
    width: 383px;
    height: 61px
  }
  .style110 {
    margin-left: 0;
    margin-top: 7px;
    width: 54px;
    height: 37px;
    flex-shrink: 0
  }
  .style108 {
    margin-left: 12px;
    margin-top: 10px;
    width: 15px;
    height: 56px
  }
  .style107,
  .style108,
  .style109 {
    position: relative;
    flex-shrink: 0
  }
  .style109 {
    margin-top: 10px;
    margin-left: 25px;
    width: 15px;
    height: 56px
  }
  .style107 {
    margin-left: 5px;
    width: 32px;
    height: 100%;
    align-self: stretch
  }
  .style127,
  .style138 {
    background-color: #1c1c1b;
    width: 2px;
    height: 17px;
    flex-shrink: 0
  }
  .style138 {
    margin-top: 29px;
    margin-left: 91px
  }
  .style127 {
    margin-left: 128px
  }
  .conocemos1row2 {
    display: flex;
    margin-left: 108px;
    margin-top: 52px;
    width: 815px;
    height: 59px;
    align-items: center
  }
  .style101,
  .style102,
  .style103 {
    color: #fdb910;
    font-family: 'Open Sans',serif;
    font-size: 1.2266666666666666em;
    font-weight: 700;
    margin-left: 0;
    height: 27px
  }
  .style101,
  .style102 {
    color: #5445a8;
    margin-left: 110px
  }
  .style101 {
    margin-left: 101px
  }
  .style104 {
    background-color: #ffb711;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
    display: flex;
    margin-left: 132px;
    width: 194px;
    height: 100%;
    flex-direction: column;
    justify-content: center
  }
  .style105,
  .style99 {
    color: #6c0e8b;
    font-family: 'Open Sans',serif;
    font-size: 1.6866666666666665em;
    font-weight: 700;
    margin-left: 27px;
    height: 39px
  }
  .style99 {
    color: #000;
    font-size: .9199999999999999em;
    margin-left: 336px;
    margin-top: 44px;
    height: 27px
  }
  .conocemos1row4 {
    display: flex;
    margin-left: 186px;
    margin-top: 47px;
    width: 547px;
    height: 250px
  }
  .style96 {
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    margin-left: 0;
    width: 250px;
    height: 100%;
    align-self: stretch
  }
  .conocemos1row4column1 {
    display: flex;
    margin-left: 47px;
    margin-top: 42px;
    width: 250px;
    height: 98px;
    align-items: stretch;
    flex-direction: column
  }
  .style91,
  .style92 {
    color: #000;
    font-family: 'Helvetica Neue',serif;
    font-size: .9199999999999999em;
    font-weight: 700;
    margin-top: 0;
    height: 22px
  }
  .style91 {
    font-size: .7666666666666666em;
    font-weight: 500;
    margin-top: 15px;
    height: 61px
  }
  .conocemos1row5 {
    position: relative;
    display: flex;
    margin-left: 189px;
    margin-top: 0;
    width: 545px;
    height: 250px
  }
  .style93,
  .style95 {
    color: #000;
    font-family: 'Helvetica Neue',serif;
    margin-left: 0
  }
  .style93 {
    margin-top: 135px;
    font-size: .9199999999999999em;
    font-weight: 700;
    height: 22px
  }
  .style95 {
    font-size: .7666666666666666em;
    font-weight: 500;
    height: 83px;
    align-self: flex-end
  }
  .style97 {
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    margin-left: 47px;
    width: 250px;
    height: 100%;
    align-self: stretch
  }
  .conocemos1row6 {
    display: flex;
    margin-left: 186px;
    margin-top: 71px;
    width: 547px;
    height: 250px
  }
  .style98 {
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    margin-left: 0;
    width: 250px;
    height: 100%;
    align-self: stretch
  }
  .conocemos1row6column1 {
    display: flex;
    margin-left: 49px;
    margin-top: 12px;
    width: 250px;
    height: 120px;
    align-items: stretch;
    flex-direction: column
  }
  .style179,
  .style94 {
    color: #000;
    font-family: 'Helvetica Neue',serif;
    font-size: .9199999999999999em;
    font-weight: 700;
    margin-top: 0;
    height: 22px
  }
  .style179 {
    font-size: .7666666666666666em;
    font-weight: 500;
    margin-top: 15px;
    height: 83px
  }
  .style162 {
    background-color: #f2f1f1;
    display: flex;
    margin-left: 0;
    margin-top: 39px;
    width: 920px;
    height: 128px;
    flex-direction: column
  }
  .conocemos1container53row0 {
    position: relative;
    display: flex;
    margin-left: 71px;
    margin-top: 71px;
    width: 687px;
    height: 17px
  }
  .style166,
  .style170,
  .style174 {
    color: #171716;
    font-family: 'Open Sans',serif;
    flex-shrink: 0
  }
  .style166 {
    margin-left: 0;
    height: 15px;
    align-self: center;
    font-size: .6133333333333333em
  }
  .style170,
  .style174 {
    font-size: .7666666666666666em
  }
  .style170 {
    align-self: stretch;
    margin-left: 108px;
    height: 100%
  }
  .style174 {
    position: relative;
    margin-left: 96px;
    margin-top: 2px;
    height: 17px
  }
}
@media (min-width:1200px) {
  .style25 {
    margin-left: 477px;
    margin-top: 58px;
    width: 45px;
    height: 64px
  }
  .homepage1row1 {
    position: relative;
    display: flex;
    margin-left: 0;
    margin-top: 61px;
    width: 499px;
    height: 80px
  }
  .style29 {
    margin-left: 0;
    margin-top: 10px;
    width: 70px;
    height: 48px;
    flex-shrink: 0
  }
  .style27 {
    margin-left: 16px;
    margin-top: 13px;
    width: 19px;
    height: 74px
  }
  .style26,
  .style27,
  .style28 {
    position: relative;
    flex-shrink: 0
  }
  .style28 {
    margin-top: 13px;
    margin-left: 32px;
    width: 19px;
    height: 74px
  }
  .style26 {
    margin-left: 6px;
    width: 42px;
    height: 100%;
    align-self: stretch
  }
  .style46,
  .style57 {
    background-color: #1c1c1b;
    width: 3px;
    height: 22px;
    flex-shrink: 0
  }
  .style57 {
    margin-top: 38px;
    margin-left: 118px
  }
  .style46 {
    margin-left: 166px
  }
  .homepage1row2 {
    display: flex;
    margin-left: 170px;
    margin-top: 67px;
    width: 1040px;
    height: 77px;
    align-items: center
  }
  .style1,
  .style2,
  .style3 {
    color: #5445a8;
    font-family: 'Open Sans',serif;
    font-size: 1.6em;
    font-weight: 700;
    margin-left: 0;
    height: 35px
  }
  .style1,
  .style2 {
    margin-left: 144px
  }
  .style1 {
    margin-left: 131px
  }
  .style4 {
    background-color: #ffb711;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    display: flex;
    margin-left: 150px;
    width: 253px;
    height: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center
  }
  .style5 {
    color: #6c0e8b;
    font-family: 'Open Sans',serif;
    font-size: 2.2em;
    font-weight: 700;
    height: 51px
  }
  .homepage1row3 {
    display: flex;
    margin-left: 48px;
    margin-top: 77px;
    width: 1046px;
    height: 358px
  }
  .style6 {
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    margin-left: 0;
    width: 515px;
    height: 100%;
    align-self: stretch
  }
  .homepage1row3column1 {
    display: flex;
    margin-left: 64px;
    margin-top: 48px;
    width: 464px;
    height: 243px;
    flex-direction: column
  }
  .style8,
  .style85 {
    color: #000;
    font-family: 'Helvetica Neue',serif;
    font-size: 1em
  }
  .style8 {
    align-self: stretch;
    font-weight: 700;
    margin-top: 0;
    height: 29px
  }
  .style85 {
    font-weight: 500;
    margin-left: 195px;
    margin-top: 26px;
    height: 189px
  }
  .homepage1row4 {
    display: flex;
    margin-left: 179px;
    margin-top: 99px;
    width: 970px;
    height: 410px
  }
  .style7,
  .style86 {
    color: #000;
    font-family: 'Open Sans',serif;
    font-size: 1.2000000000000002em;
    margin-left: 0;
    margin-top: 147px;
    height: 29px
  }
  .style86 {
    font-family: 'Helvetica Neue',serif;
    font-size: 1em;
    font-weight: 500;
    margin-left: 64px;
    margin-top: 224px;
    height: 125px
  }
  .style10 {
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    margin-left: 64px;
    width: 518px;
    height: 100%;
    align-self: stretch
  }
  .homepage1row5 {
    display: flex;
    margin-left: 48px;
    margin-top: 138px;
    width: 1037px;
    height: 403px
  }
  .style11 {
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    margin-left: 0;
    width: 518px;
    height: 100%;
    align-self: stretch
  }
  .homepage1row5column1 {
    position: relative;
    display: flex;
    margin-left: 64px;
    margin-top: 58px;
    width: 387px;
    height: 237px;
    flex-direction: column
  }
  .style87,
  .style89 {
    color: #000;
    flex-shrink: 0
  }
  .style87 {
    align-self: stretch;
    font-family: 'Open Sans',serif;
    font-size: 1.2000000000000002em;
    margin-top: 0;
    height: 29px
  }
  .style89 {
    font-family: 'Helvetica Neue',serif;
    font-size: 1em;
    font-weight: 500;
    position: relative;
    margin-left: 131px;
    margin-top: 32px;
    height: 176px
  }
  .homepage1row6 {
    display: flex;
    margin-left: 48px;
    margin-top: 131px;
    width: 1101px;
    height: 400px
  }
  .style88 {
    color: #000;
    font-family: 'Open Sans',serif;
    font-size: 1.2000000000000002em;
    margin-left: 0;
    margin-top: 125px;
    height: 29px
  }
  .style90 {
    color: #000;
    font-family: 'Helvetica Neue',serif;
    font-size: 1em;
    font-weight: 500;
    margin-left: 131px;
    height: 234px;
    align-self: flex-end
  }
  .style9 {
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    margin-left: 134px;
    width: 518px;
    height: 100%;
    align-self: stretch
  }
  .style12 {
    background-color: #f2f1f1;
    display: flex;
    margin-left: 0;
    margin-top: 67px;
    width: 1222px;
    height: 166px;
    flex-direction: column
  }
  .homepage1container2row0 {
    position: relative;
    display: flex;
    margin-left: 93px;
    margin-top: 93px;
    width: 896px;
    height: 22px
  }
  .style16,
  .style20,
  .style24 {
    color: #171716;
    font-family: 'Open Sans',serif;
    flex-shrink: 0
  }
  .style16 {
    margin-left: 0;
    height: 19px;
    align-self: center;
    font-size: .8em
  }
  .style20,
  .style24 {
    font-size: 1em
  }
  .style20 {
    align-self: stretch;
    margin-left: 141px;
    height: 100%
  }
  .style24 {
    position: relative;
    margin-left: 125px;
    margin-top: 3px;
    height: 22px
  }
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 1200px
  }
  .style106 {
    margin-left: 448px;
    margin-top: 61px;
    width: 45px;
    height: 64px
  }
  .conocemos1row1 {
    position: relative;
    display: flex;
    margin-left: 0;
    margin-top: 64px;
    width: 499px;
    height: 80px
  }
  .style110 {
    margin-left: 0;
    margin-top: 10px;
    width: 70px;
    height: 48px;
    flex-shrink: 0
  }
  .style108 {
    margin-left: 16px;
    margin-top: 13px;
    width: 19px;
    height: 74px
  }
  .style107,
  .style108,
  .style109 {
    position: relative;
    flex-shrink: 0
  }
  .style109 {
    margin-top: 13px;
    margin-left: 32px;
    width: 19px;
    height: 74px
  }
  .style107 {
    margin-left: 6px;
    width: 42px;
    height: 100%;
    align-self: stretch
  }
  .style127,
  .style138 {
    background-color: #1c1c1b;
    width: 3px;
    height: 22px;
    flex-shrink: 0
  }
  .style138 {
    margin-top: 38px;
    margin-left: 118px
  }
  .style127 {
    margin-left: 166px
  }
  .conocemos1row2 {
    display: flex;
    margin-left: 141px;
    margin-top: 67px;
    width: 1062px;
    height: 77px;
    align-items: center
  }
  .style101,
  .style102,
  .style103 {
    color: #fdb910;
    font-family: 'Open Sans',serif;
    font-size: 1.6em;
    font-weight: 700;
    margin-left: 0;
    height: 35px
  }
  .style101,
  .style102 {
    color: #5445a8;
    margin-left: 144px
  }
  .style101 {
    margin-left: 131px
  }
  .style104 {
    background-color: #ffb711;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
    display: flex;
    margin-left: 173px;
    width: 253px;
    height: 100%;
    flex-direction: column;
    justify-content: center
  }
  .style105,
  .style99 {
    color: #6c0e8b;
    font-family: 'Open Sans',serif;
    font-size: 2.2em;
    font-weight: 700;
    margin-left: 35px;
    height: 51px
  }
  .style99 {
    color: #000;
    font-size: 1.2000000000000002em;
    margin-left: 438px;
    margin-top: 58px;
    height: 35px
  }
  .conocemos1row4 {
    display: flex;
    margin-left: 243px;
    margin-top: 61px;
    width: 714px;
    height: 326px
  }
  .style96 {
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    margin-left: 0;
    width: 326px;
    height: 100%;
    align-self: stretch
  }
  .conocemos1row4column1 {
    display: flex;
    margin-left: 61px;
    margin-top: 54px;
    width: 326px;
    height: 128px;
    align-items: stretch;
    flex-direction: column
  }
  .style91,
  .style92 {
    color: #000;
    font-family: 'Helvetica Neue',serif;
    font-size: 1.2000000000000002em;
    font-weight: 700;
    margin-top: 0;
    height: 29px
  }
  .style91 {
    font-size: 1em;
    font-weight: 500;
    margin-top: 19px;
    height: 80px
  }
  .conocemos1row5 {
    position: relative;
    display: flex;
    margin-left: 246px;
    margin-top: 0;
    width: 710px;
    height: 326px
  }
  .style93,
  .style95 {
    color: #000;
    font-family: 'Helvetica Neue',serif;
    margin-left: 0
  }
  .style93 {
    margin-top: 176px;
    font-size: 1.2000000000000002em;
    font-weight: 700;
    height: 29px
  }
  .style95 {
    font-size: 1em;
    font-weight: 500;
    height: 109px;
    align-self: flex-end
  }
  .style97 {
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    margin-left: 61px;
    width: 326px;
    height: 100%;
    align-self: stretch
  }
  .conocemos1row6 {
    display: flex;
    margin-left: 243px;
    margin-top: 93px;
    width: 714px;
    height: 326px
  }
  .style98 {
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    margin-left: 0;
    width: 326px;
    height: 100%;
    align-self: stretch
  }
  .conocemos1row6column1 {
    display: flex;
    margin-left: 64px;
    margin-top: 16px;
    width: 326px;
    height: 157px;
    align-items: stretch;
    flex-direction: column
  }
  .style179,
  .style94 {
    color: #000;
    font-family: 'Helvetica Neue',serif;
    font-size: 1.2000000000000002em;
    font-weight: 700;
    margin-top: 0;
    height: 29px
  }
  .style179 {
    font-size: 1em;
    font-weight: 500;
    margin-top: 19px;
    height: 109px
  }
  .style162 {
    background-color: #f2f1f1;
    display: flex;
    margin-left: 0;
    margin-top: 51px;
    width: 1200px;
    height: 166px;
    flex-direction: column
  }
  .conocemos1container53row0 {
    position: relative;
    display: flex;
    margin-left: 93px;
    margin-top: 93px;
    width: 896px;
    height: 22px
  }
  .style166,
  .style170,
  .style174 {
    color: #171716;
    font-family: 'Open Sans',serif;
    flex-shrink: 0
  }
  .style166 {
    margin-left: 0;
    height: 19px;
    align-self: center;
    font-size: .8em
  }
  .style170,
  .style174 {
    font-size: 1em
  }
  .style170 {
    align-self: stretch;
    margin-left: 141px;
    height: 100%
  }
  .style174 {
    position: relative;
    margin-left: 125px;
    margin-top: 3px;
    height: 22px
  }
}